.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Layout customizations */
.ant-layout-header {
  height: 64px;
  line-height: 64px;
}

.ant-layout-sider {
  background: #fff !important;
}

.ant-layout-content {
  background: #fff;
}